/******************************************************************

Home

******************************************************************/
html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    overflow-x: none;
}

html {
    overflow-x: hidden !important;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    margin: 15px;
}

h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
}

.home-container.container {
    padding: 0;
}

.map_canvas {
    width: 100%;
    height: 100%;
    background-color: #CCC;
}

.marker_select {
    width: 200px;
    float: left;
}

.ui-selectmenu-button {
    float: left;
}

.header {
    border-left: none;
    box-shadow: 0 0 7px 3px #B7C9D2;
    position: relative;
    padding: 0;
}

.video_container {
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    z-index: 1;
    height: 70vh;
    background: url("images/road-header.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.hero_video {
    position: absolute;
    z-index: 0;
    min-width: 1020px;
    width: 100%;
}

.hero_form_container {
    position: absolute;
    bottom: 0px;
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.trans-overlay {
    background-color: rgba(34, 34, 34, 0.7);
    width:100%;
    height:100%;
    position: relative;
}

.hero_form {
    margin: 15px auto 0 auto;
    width: 100%;
    min-width: 600px;
    max-width: 740px;
}

.heat_tweet_buttons {
    display: inline-block;
    float: right;
}

.hero_btn {
    width: 150px;
    height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3 ease;
    transition: all 0.3 ease;
    color: #fafafa;
    margin: 5px auto 15px auto;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    padding: 5px 0 0 0;
}

.hero_btn.left {
    float: left;
    background-color: rgba(212, 0, 150, 0.6);
}

.hero_btn.left:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.hero_btn.right {
    float: right;
    background-color: rgba(93, 150, 41, 0.75);
}

.hero_btn.right:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.container {
    width: 100% !important;
}

#tm-logo-wrapper {
    margin-top: 15px;
    margin-left: -75px;
}

.tm-powered-by-label {
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
}

.tm-logo {
    width: 10%;
    height: auto;
}

.hero_buttons_container {
    width: 340px;
    margin: auto;
}

.hero_header {
    font-size: 6vw;
    color: #fff;
    font-weight: 400;
    text-align:center;
    height: 15vw;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.hero_subheader {
    font-size: 2vw;
    margin: 0 0 30px 0;
    font-weight: 200;
}

.hero_form .hero_destination {
    font-size: 24px;
    line-height: 34px;
    width: 30%;
    float: left;
    margin: 0 25px;
}

.hero_form .hero_date {
    float: left;
    width: 20%;
}

.input-group .form-control.hero-date-left {
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.input-group .form-control.hero-date-right {
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.container.ng-scope {
    height: 100px;
}

.home_header {
    margin: auto;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 80px;
    display: inline;
}

.home_text {
    margin: 20px auto;
    font-weight: 500;
    color: #555555;
    font-family: "Helvetica Neue thin",Helvetica,Arial,sans-serif;
    width: 55%;
    text-align: center;
    font-size: 18px;
}

.home_img {
    height: 300px;
    margin: 20px auto;
}

.home_img_container {
    width: 150px;
    overflow-x: hidden;
    float: left;
    margin: 10px;
    text-align: center;
}

.home_img_container_wide {
    width: 250px;
    overflow-x: hidden;
    float: left;
    margin: 10px;
    text-align: center;
    position: relative;
    z-index: 20;
}

.home_imgs_container {
    margin: auto;
    width: 510px;
    height: 350px;
}

.home_imgs_container_wide {
    margin: auto;
    width: 810px;
    height: 350px;
}

.home_hr {
    border-top: 1px solid #ccc;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    transition: all 0.5s ease;
    height: 300px;
    cursor: pointer;
}

.home_img_container_wide:hover > img.grayscale, .home_img_container_wide:hover img.grayscale {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.img_inner_cont:hover > img.grayscale, .img_inner_cont:hover img.grayscale {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.popGray1:hover + img.grayscale, .popGray2:hover > img.grayscale {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.home_pana_container {
    height: 200px;
    background: url("/images/footer.jpg") no-repeat fixed;
    width: calc(100% + 30px);
    background-size: 100%;
}

.footer {
    height: 100px;
    width: calc(100% + 30px);
    background-size: 100%;
}

.hero_btn.hero_option {
    border-radius: 0;
    width: 150px;
    height: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3 ease;
    transition: all 0.3 ease;
    border: 1px solid #000;
    color: #fafafa;
    margin: -15px auto 15px auto;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    padding: 0px 0 0 0;
    float: right;
    background-color: rgba(13, 80, 41, 0.75);
    transition: all 1s ease;
}

.hero_btn.hero_option:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.hero_options {
    visibility: hidden;
    opacity: 0;
    float: right;
    width: 100px;
}

.hero_btn_group:hover > .hero_options {
    visibility: visible;
    opacity: 1;
}

.hero_btn_group:hover .hero_options {
    visibility: visible;
    opacity: 1;
}

.logo {
    width: 100px;
    margin: -60px 0 0 -100px;
}

.logo_container {
    text-align: center;
    margin: 85px 0 70px 0;
}

.grayscaleText1 {
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    right: -100px;
    bottom: 0px;
    font-size: 40px;
    top: 180px;
    margin: auto;
    height: 10px;
    z-index: 1;
    font-family: 'Helvetica Neue';
}

.grayscaleText2 {
    color: #fff;
    position: absolute;
    top: -290px;
    left: -110px;
    right: 0px;
    bottom: 0px;
    font-size: 40px;
    margin: auto;
    height: 10px;
    z-index: 1;
    font-family: 'Helvetica Neue';
}

.popGray1 {
    border-radius: 0;
    width: 150px;
    height: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #fafafa;
    cursor: pointer;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    background-color: rgba(13, 80, 41, 0.75);
    z-index: 1;
    position: absolute;
    top: 0px;
    background-color: rgba(80, 13, 41, 0.75);
    left: 53px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
}

.popGray2 {
    border-radius: 0;
    width: 150px;
    height: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #fafafa;
    cursor: pointer;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 53px;
    padding: 10px;
    background-color: rgba(13, 80, 41, 0.75);
    visibility: hidden;
    opacity: 0;
}

.home_img_container_wide:hover > .popGray1, .home_img_container_wide:hover > .popGray2 {
    visibility: visible;
    opacity: 1;
}

.footer-nav {
    box-sizing: inherit !important;
    clear: both;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.header-divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    height: 3px;
    width: 30vw;
    position: relative;
    margin: 5vh auto;
}

.header-links {
    position: absolute;
    top: 10px;
    right: 50px;
}

.header-social {
    position: absolute;
    bottom: 15px;
    right: -10px;
}

.social-img {
    width: 50px;
}

.contacts {
    text-align: center;
    color: #fff;
    margin-top: 18px;
}

.header-link, .header-link:hover {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 100;
    width: 10vw;
    line-height: 50px;
}

.orange-flat-button {
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px;
    color: white;
    margin: 10px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #f39c12;
    border: 0;
    border-bottom: 2px solid #e8930c;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #e8930c;
    box-shadow: inset 0 -2px #e8930c;
    border-radius: 3px;
    text-decoration: none;
}

.orange-flat-button:hover {
    -webkit-filter: brightness(90%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.orange-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media screen and (max-width: 992px) {
    .footer-nav {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .hero_subheader {
        display: none;
    }

    .header-divider {
        display: none;
    }

    .hero_header {
        font-size: 10vw;
    }

    .header-links {
        position: absolute;
        margin: auto;
        text-align: center;
    }

}

.footer-nav footer {
    color: white;
    padding: 20px 0;
}

.footer-nav footer .footer-nav-logo {
    box-sizing: content-box;
    margin: 0 auto;
    height: 60px;
    padding: 30px 0;
    position: relative;
    width: 50px;
}

.footer-nav .footer-nav-text {
    font-size: 12px;
    margin: 20px 0;
}

.home_img_container_wide.first img.grayscale {
    cursor: default;
}

.vertical-divider {
    border-right: 1px solid #ccc;
    height: 400px;
}

.half-text {
    border-radius: 10px;
    background-color: whitesmoke;
    height: 400px;
}

.home_header {
    display: inline-block;
    margin: 50px auto 0px auto;
}

.home_content {
    position: relative;
}

.download_option {
    text-align: center;
    display: table-cell;
}

.download_title {

}

.menu {
    display: block;
    padding: 0;
}

.menu li {
    display: inline-block;
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 170px;
    text-align: center;
    cursor: pointer;
}

.menu li:first-child { margin-left: 0; }

.menu li a {
    font-weight: 600;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: #fff;
    transition: all 0.2s ease-in-out 0s;
    /*border-radius: 10px;*/
}

.menu li a:hover,
.menu li:hover>a {
    color: #fff;
    background: #FC6D58;
}

.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 170px;
    position: absolute;
    left: 0px;
    background: #fff;
    z-index: 99;
    transform: translate(0, 20px);
    transition: all 0.2s ease-out;
}

.menu ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}

.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    font-size: 12px;
    font-weight: normal;
    display: block;
    color: #797979;
    background: #fff;
}

.menu ul li a:hover,
.menu ul li:hover>a {
    background: #FC6D58;
    color: #fff;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.menu ul ul {
    left: 169px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transform: translate(20px, 20px);
    transition: all 0.2s ease-out;
}

.menu ul ul:after {
    left: -6px;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 6px;
    margin-top: -6px;
}

.menu li>ul ul:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.responsive-menu {
    display: none;
    width: 100%;
    padding: 20px 15px;
    background: #E95546;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.responsive-menu:hover {
    background: #E95546;
    color: #fff;
    text-decoration: none;
}

a.homer { background: #FC6D58; }

@media (min-width: 768px) and (max-width: 979px) {

    .mainWrap { width: 768px; }

    .menu ul { top: 37px; }

    .menu li a { font-size: 12px; }

    a.homer { background: #E95546; }

}

@media (max-width: 767px) {

    .mainWrap {
        width: auto;
        padding: 50px 20px;
    }

    nav {
        margin: 0;
        background: none;
    }

    .menu li {
        display: block;
        margin: 0;
    }

    .menu li a {
        background: #fff;
        color: #797979;
    }

    .menu li a:hover,
    .menu li:hover>a {
        background: #FC6D58;
        color: #fff;
    }

    .menu ul {
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        transform: initial;
    }

    .menu li:hover>ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: initial;
    }

    .menu ul ul {
        left: 0;
        transform: initial;
    }

    .menu li>ul ul:hover { transform: initial; }

}

.outer-li {
    border-radius: 10px;
}

.only-top-radius {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.downloads_container {
    display: table-row;
}

.downloads_table {
    display: table;
    border-collapse: collapse;
    margin: 50px;

}
