<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <script src="js/app.js"></script>
</head>
<body>
<div class="video_container">
    <div class="trans-overlay">
        <div class="hero_text">
            <div class="hero_header">
                Navigate The World
                <div class="header-divider"> </div>
                <h4 class="hero_subheader">Easily find your way anywhere with Navit</h4>
            </div>
        </div>
    </div>
    <div class="header-links">
        <a href="http://www.sourceforge.net/projects/navit/" class="header-link">Project Page</a>
        <a href="http://trac.navit-project.org" class="header-link">Bug Tracker</a>
        <a href="http://wiki.navit-project.org/index.php/Main_Page" class="header-link">Wiki</a>
        <a href="http://forum.navit-project.org/" class="header-link">Forum</a>
        <a href="http://wiki.navit-project.org/" class="header-link">Documentation</a>
        <a href="http://www.navit-project.org/?page=download" class="orange-flat-button">Download</a>
    </div>
</div>
<div class="home_content">

    <h1 class="home_header">Download Navit</h1>

    <p class="home_text">
        Navit is a modular, touch screen friendly navigation system with GPS tracking, realtime routing engine and
        support for various vector map formats. Works on a wide range of devices, from computers to smartphones.
    </p>
    <div class="downloads_table">
        <div class="row downloads_container">
            <div class="download_option">
                <h3 class="download_title">Windows</h3>
                <p>If you wish to install Navit on the device, download the .cab file and install it. It is recomended that
                    you download the zip file and copy this onto an SD card instead.</p>
                <nav>
                    <ul class="menu">
                        <li><a class="homer outer-li"><i class="fa fa-home"></i>Download Windows</a>
                            <ul class="sub-menu">
                                <li><a href="http://download.navit-project.org/navit/win32_cmake/svn/">Windows</a></li>
                                <li><a href="http://download.navit-project.org/navit/wince/svn/">Windows CE</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="download_option">
                <h3 class="download_title">Android</h3>
                <p>We are now providing access to frequently updated beta releases via the Google Play store as well as
                    APKs.</p>
                <nav>
                    <ul class="menu">
                        <li><a class="homer outer-li"><i class="fa fa-home"></i>Download Android</a>
                            <ul class="sub-menu">
                                <li><a href="https://play.google.com/store/apps/details?id=org.navitproject.navit">
                                    Google Play Store
                                </a></li>
                                <li><a href="http://download.navit-project.org/navit/android/svn/">ARMv5</a></li>
                                <li><a href="http://download.navit-project.org/navit/android_armv4t/svn/">ARMv4</a></li>
                                <li><a href="http://download.navit-project.org/navit/android_armv5te/svn/">ARMv5TE</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="download_option">
                <h3 class="download_title">Nokia</h3>
                <p>Navit requests the file libcrypto.so.0.9.7, but an up to date N810 uses the updated version 0.9.8. To use
                    Navit, you need to make a symlink.</p>
                <nav>
                    <ul class="menu">
                        <li><a class="homer outer-li"><i class="fa fa-home"></i>Download Nokia</a>
                            <ul class="sub-menu">
                                <li><a href="http://download.navit-project.org/navit/n800/svn/">n770/n800/n810</a></li>
                                <li><a href="http://maemo.org/downloads/product/raw/OS2008/navit/?get_installfile">
                                    Point-and-Click Installer
                                </a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>

    <div class="home_pana_container"></div>

    <div class="home_imgs_container_wide">
        <div class="home_img_container_wide first">
            <img class="grayscale" src="images/test6.jpg">
        </div>
        <div class="home_img_container_wide" ng-click="goToTravel()">
            <div class="popGray1">Traveling</div>
            <div class="img_inner_cont">
                <img class="grayscale" src="images/test4.png">
            </div>
            <span class="grayscaleText1">Explore.</span>
        </div>
        <div class="home_img_container_wide" ng-click="goToHost()">
            <div class="popGray2">Hosting</div>
            <div class="img_inner_cont">
                <img class="grayscale" src="images/test5.png">
            </div>
            <span class="grayscaleText2">Share.</span>
        </div>
    </div>
</div>
<div class="footer">
    <div class="trans-overlay">
        <div class="col-xs-9">
            <div class="col-xs-3 contacts">
                <h4>Martin Schaller</h4>
                <p>cp15 at navit-project.org </p>
            </div>
            <div class="col-xs-3 contacts">
                <h4>Michael Farmbauer</h4>
                <p>horwitz at navit-project.org </p>
            </div>
            <div class="col-xs-3 contacts">
                <h4>Pierre Grandin</h4>
                <p>kazer at navit-project.org </p>
            </div>
            <div class="col-xs-3 contacts">
                <h4>Nick Geoghegan</h4>
                <p>number6 at navit-project.org</p>
            </div>
        </div>
        <div class="header-social col-xs-3">
            <a href="http://www.facebook.com/NavitProject" class="header-link">
                <img class="social-img" src="images/fb.png">
            </a>
            <a href="http://www.twitter.com/NavitProject" class="header-link">
                <img class="social-img" src="images/twitter.png">
            </a>
            <a href="http://www.linkedin.com/companies/navit-project" class="header-link">
                <img class="social-img" src="images/linkedin.png">
            </a>
        </div>
    </div>
</div>
</body>
</html>
